body{max-width:50em;margin:auto;padding:1em;font-family:monospace;font-size:1.2em;line-height:1.5em;}
img {max-width: 100%;}
pre{background:#F4F2F1;padding:1em;overflow-x:auto;}
table, th, td {border: 1px solid #808080;border-collapse: collapse; padding: 0.5em;}
tbody tr.active {background-color: #c0ffc0;}
.backlink{display:block;text-align:center;margin-top:2em;background:#F4F2F1;padding:0.5em;}

